Package: ovh.exerhythm.cardculator
Name: Cardculator
Version: 1.2
Architecture: iphoneos-arm
Description: Calculator, but smaller
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), libactivator, ws.hbang.common (>= 1.17), com.opa334.ccsupport (>= 1.3.7)
