Package: ovh.exerhythm.cardculator
Name: Cardculator
Version: 2.1
Architecture: iphoneos-arm
Description: Calculator, but smaller
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: dev.theos.orion14, firmware (>= 14.0), com.opa334.ccsupport (>= 1.3.7), com.ginsu.comet
