Package: ovh.exerhythm.cardculator
Name: Cardculator
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 13.0), libactivator
