<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ovh.exerhythm.cardculatorPreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ovh.exerhythm.cardculatorPreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>key</key>
			<string>style</string>
			<key>PostNotification</key>
			<string>ovh.exerhythm.cardculatorPreferences/ReloadPrefs</string>
			<key>defaults</key>
			<string>ovh.exerhythm.cardculatorPreferences</string>
			<key>default</key>
			<string>Square</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>Card</string>
				<string>Card Alt</string>
				<string>Stock</string>
				<string>Square</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Card</string>
				<string>Card Alt</string>
				<string>Stock</string>
				<string>Square</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Card</string>
				<string>Card Alt</string>
				<string>Stock</string>
				<string>Square</string>
			</array>
		</dict>
		<dict>
			<key>disabled</key>
			<true/>
			<key>PostNotification</key>
			<string>ovh.exerhythm.cardculatorPreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ovh.exerhythm.cardculatorPreferences</string>
			<key>key</key>
			<string>snapToCorners</string>
			<key>label</key>
			<string>Snap to corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Speed:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ovh.exerhythm.cardculatorPreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>125</integer>
			<key>defaults</key>
			<string>ovh.exerhythm.cardculatorPreferences</string>
			<key>key</key>
			<string>speed</string>
			<key>min</key>
			<integer>50</integer>
			<key>max</key>
			<integer>300</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Developer</string>
			<key>user</key>
			<string>sourceloc</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>And HUGE thanks to absidue, luki120, Lacertosus, Lightmann, cluda and uroboro!</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cardculator</string>
</dict>
</plist>
